PATH_add "/mnt/c/Program Files/Oracle/VirtualBox"
export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS=1
export VAGRANT_WSL_WINDOWS_ACCESS_USER_HOME_PATH=/mnt/c/ProgramData/Vagrant
export VAGRANT_SYNCED_FOLDER=/mnt/c/remla/vagrant
export KUBECONFIG=${VAGRANT_SYNCED_FOLDER:-.}/k3s.yaml
